.line-md--plus {
   color:rgb(4, 43, 4);
}
.Main_interface{
    margin-top: 60px ; 
   flex-direction: column;
   display: flex;
   align-items: center;
   font-weight: 100px;
}
.title_of_page{
   margin-top: 20px ; 
   font-size: 30px;
   color: white;

}
.content_screen{
   margin-top: 30px; 
   padding-top: 20px;
   border:none;
   background-color: #603919;
   border-radius:10px ;
   display: flex ;
   flex-direction:column;
   padding-bottom: 20px; 
   padding-left:   20vw;
   padding-right: 20vw; 
   gap: 2vw; 
}
.tabs{
   flex-direction: column;
   display: flex;
   align-items: center;
}
.input_title{
   font-size: 12px;
}
.input_text{
   width:300px;
   height:25px;
   margin-top:2px ;
   border-radius: 2px;
   border: none;
}
.upload-button {
   margin-top:3px ;
   display: inline-block;
   margin-right:110px
}
.submit{
   width:85px;
   height:26px;
   border:none;
   border-radius: 15px;
   background-color: rgb(4, 43, 4);

   font-size: 14px;
}