<!--Footer-->
<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>ShelfMate</h3>
      <p>Choose your story , Choose your journey</p>
    </div>
    <div class="footer-section">
      <h4>Contact Us</h4>
      <p>Email: <a href="mailto:support@onlinelibrary.com">support@onlinelibrary.com</a></p>
    </div>
          
    <div class="footer-section">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="https://facebook.com/YourLibrary" class="ic--baseline-facebook"></a>
        <a href="https://twitter.com/YourLibrary" class="carbon--logo-x"></a>
        <a href="https://instagram.com/YourLibrary" class="mdi--instagram"></a>
      </div>          
    </div>
  </div>
          
  <div class="footer-bottom">
    <p>&copy; 2025 Online Library. All rights reserved.</p>
    <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
  </div>
</footer>


