{% load static %}
<!--Navigation bar--> 
<div class="overlay"></div>
<nav class="navbar">
  <a class="menu-content" >
    <i class="mingcute--book-5-line"></i>
    <span class="menu">Menu</span>
  </a>  

  <a class="searchbar-container"> 
    <i class="material-symbols--search-rounded "></i>
    <span class="Search">Search</span>
    <form class="search-bar">
        <i class="material-symbols--search"></i>
        <input type="text" id="search-bar-1" placeholder="Search..." name="search" />
        <button type="submit" id="search-btn1"></button>
    </form>
  </a>
  
  <div class="dropdown status-dropdown">
    <a href="{% url 'reader_book_status' %}">
      <i class="mdi--book-cog-outline"></i>
      <span class="status">Status</span>
    </a>
    <div class="dropdown-content">
      <a href="{% url 'reader_book_status' %}?category=Borrowed">Borrowed</a>
      <a href="{% url 'reader_book_status' %}?category=Not-Completed">Not Completed</a>
      <a href="{% url 'reader_book_status' %}?category=Completed">Completed</a>
      <a href="{% url 'reader_book_status' %}?category=Favorites">Favorites</a>
    </div>
  </div>
      
  <a href="{% url 'reader_land_book' %}">
      <i class="mingcute--book-6-line"></i>
      <span class="books">Books</span>
  </a>

  <div class="dropdown profile-dropdown">
    <a href="{% url 'reader_profile' %}">
        <i class="iconamoon--profile-fill"></i>
        <span class="profile">Profile</span>
    </a>
          
    <div class="dropdown-content">
        <a href="{% url 'reader_settings' %}">Settings</a>
        <a href="{% url 'start' %}">Log Out</a>
    </div>
  </div>   
</nav>